:root {
    font-family: "Poppins", sans-serif;
    --text-md: 16px;
    --text-lg: 24px;
    --text-xl: 48px;
}

.text-md {
    font-size: var(--text-md);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-xl {
    font-size: var(--text-xl);
}

@media (max-width:576px) {
    :root {
        --text-md: 14px;
        --text-lg: 20px;
        --text-xl: 42px;
    }
}